*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background-color: rgb(184, 189, 187);
    border: 15px solid rgb(11, 11, 11);
}
.content{
    max-width: 1240px;
    margin: 0 auto;
}
.section_top h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
}
.section_top:hover{
    box-shadow: 10px 10px 40px ;
}
.section_top h4{
    text-align: end;
    font-size: 20px;
}
.section_top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}
.image_container,img{
    height:320px;
    width:300px;
    border-radius: 50%;
    overflow: hidden;
    
    
}
.headings{
    margin-top: 200px;
}
.image_container,img:hover{
    border:3px solid rgb(205, 236, 255);
    box-shadow: 5px 5px 30px rgb(8, 8, 8);
}
.main_content,h2{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;

}
.main_content,p{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}
footer{
    margin-bottom: 30px;

}
footer p{
    text-align: end;
}
@media(max-width:970px){
    .container{
        min-height: 100vh;
        background-color: rgb(184, 189, 187);
        border: 1px solid rgb(11, 11, 11);
    }
    .section_top h1{
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .section_top h4{
        text-align: end;
        font-size: 8px;
        margin-bottom: 0px;
    }
    .headings{
        margin-top: 90px;
        margin-left: 30px;
        row-gap: 2px;
        column-gap: 2px;
    }
    .image_container,img{
        height:180px;
        width:160px;
        border-radius: 50%;
        overflow: hidden;
    }
    .content{
        width:555px;
        height:1000px;
        padding: 0%;
        background-size: contain;
    }
    .main_content,h2{
        font-size: 26px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 400;
    
    }
    .main_content,p{
        font-size: 15px;
        line-height: 15px;
        text-align: justify;
    }
}
@media(max-width:400px){
    .container{
        min-height: 100vh;
        background-color: rgb(184, 189, 187);
        border: 1px solid rgb(11, 11, 11);
    }
    .section_top h1{
        font-size: 15px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
    .section_top h4{
        text-align: end;
        font-size: 8px;
        margin-bottom: 0px;
    }
    .headings{
        margin-top: 35px;
        margin-left: 5px;
        row-gap: 2px;
        column-gap: 2px;
    }
    .image_container,img{
        height:100px;
        width:80px;
        border-radius: 50%;
        overflow: hidden;
    }
    .content{
        width:280px;
        height:1000px;
        padding: 0%;
        background-size: contain;
    }
    .main_content,h2{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 400;
    
    }
    .main_content,p{
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    }
}
@media(max-width:576px){
    .container{
        min-height: 100vh;
        background-color: rgb(184, 189, 187);
        border: 1px solid rgb(11, 11, 11);
    }
    .section_top h1{
        font-size: 15px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        margin-bottom: 3px;
    }
    .section_top h4{
        text-align: end;
        font-size: 8px;
        margin-bottom: 0px;
    }
    .headings{
        margin-top: 35px;
        margin-left: 5px;
        row-gap: 2px;
        column-gap: 2px;
    }
    .image_container,img{
        height:100px;
        width:80px;
        border-radius: 50%;
        overflow: hidden;
    }
    .content{
        width:280px;
        height:1000px;
        padding: 0%;
        background-size: contain;
    }
    .main_content,h2{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 400;
    
    }
    .main_content,p{
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
    }
}
